// button { cursor: pointer; background: $b; border: 1px solid red; }
// button:hover { background: $w; color: $b; }


.buttons	{
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	// DNU margins
	font-weight: bold;
}

.buttons button:not(:last-child),
.buttons .button:not(:last-child) { margin-right: 1.5rem; }

button,
a.button,
input[type="text"],
textarea {
   font-size: 1.2rem; /* not inherited */
   border-radius: .3em;
}

button,
a.button	{
	display: inline-block;
	min-width: 8.4rem;
	padding: .45rem 1.8rem;
	font-weight: 500;
	text-align: center;
	word-spacing: .3rem;
	transition: .15s ease-in-out;
   color: $w; // ok if all buttons.button have bg color
}

/*
	BUTTON/'BUTTON' CLASSES
	- ~ 'function' color codes:
		- color for .details, a.edit, etc.
		- then augment w/ button.details, etc.
      [ https://github.com/vuejs/vue-loader/issues/363 ]

		https://mayvendev.com/blog/inner-shadows-in-css-images-text-and-beyond
		re: inset bevel text effect
*/
.btn {
	cursor: pointer;
	// background: $b;
	color: $b;
	background: $w;
	border: 1px solid $tr;
}
.btn:hover {
	background: $b; // backup
	color: $w;
	border: 1px solid $b;
	border-radius: 1.5em;
}

// Projects: details, edit, log hours
// Add Project: add, save
// Detail: edit, log hours, all projects;
// Edit: edit, cancel, save
// Log Hours: log hours (should be 'save')
// ! on buttons, the ???
// also sign-up and sign-in, log-in

// TODO: BUTTON MIXIN
.btn.btn-details,
.btn.btn-all-projects {
	color: $theme;
	border: 1px solid $theme;
}

.btn.btn-details:hover,
.btn.btn-details:active,
.btn.btn-all-projects:hover,
.btn.btn-all-projects:active {
   color: $w;
   background: $theme;
}

.btn.btn-edit {
	color: $edit;
	border: 1px solid $edit;
}
.btn.btn-edit:hover,
.btn.btn-edit:active {
	color: $w;
   background: $edit;
}

.btn.btn-log-hours {
	color: $log-hours;
	border: 1px solid $log-hours;
}
.btn.btn-log-hours:hover,
.btn.btn-log-hours:active {
   color: $w;
   background: $log-hours;
}

.btn.btn-save {
	color: $save;
	border: 1px solid $save;
}
.btn.btn-save:hover,
.btn.btn-save:active {
   color: $w;
   background: $save;
}



.btn.btn-cancel { background: $cancel; }
.btn.btn-cancel:hover,
.btn.btn-cancel:active {
   color: $cancel;
   background: $w;
   border: 1px solid $cancel;
}

.btn.btn-logout	{
	color: $b;
	background: $tr;
	border: 0;
}
.btn.btn-logout:hover,
.btn.btn-logout:active {
   background: $tr;
	box-shadow: none;
	text-decoration: underline;
}


// #project-detail .buttons .btn.btn-details,
// #project-edit .buttons .btn.btn-edit,
// #project-edit .buttons .btn.btn-log-hours,
// #projects .buttons .btn.btn-all-projects	{ display: none; }





.debug { color: lime; }
