// elements ? shared? element defaults?

/*
think base lib; app doesn't need mosaic, but:

typography;
	font-sizes & font-weight,
	text-transforms,
	anchor styles,

a,
img,
h1, h2, h3, h4, h5, h6
dl, ol, ul defaults

?
then it should precede layout


section? no padding globally; margin-bottom only

EGADS, REMEMBER: W/OUT 'scoped', RULES IN A .vue COMPONENT LEAK INTO GLOBAL, e.g.,

section { border: 1px solid blue; } in signup applied to login

*/

// move it to scoped TheSubheader.vue

// div.subheader{}
// 	h1 {}
// 	h1 span {}
// 	.search-wrapper {}
// 		.search {}
// 		.search-results-wrapper {}
// 			h3 {}
// 			ul {}
.subheader {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	h1 {
		width: auto;
		font-size: 2.1rem;
		color: $theme1;
	}
	.search-wrapper {
		width: 100%;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;
		.search { width: 100%; }
	}
	.search-results-wrapper {
		width: 100%;
		margin: .3rem 0 1.5rem;
		padding: 0 $space * 5;
max-height: 0;
height: 0;
overflow: hidden;
background: #f0f0f0;
		border-top: 0;
		border-bottom: 0;
		border-radius: 0 0 .3rem .3rem;
		transition: .3s all ease-in-out;
		&.open {
			max-height: 100vh;
			height: auto;
			padding: $space * 3 $space * 5;
			border-top: 0px solid lighten($b, 90%);
			border-bottom: 3px solid lighten($b, 75%);
		}
		&.noresults {
			max-height: 100vh;
			height: auto;
			padding: $space * 3 $space * 5;
			border-top: 0px solid lighten($b, 90%);
			border-bottom: 3px solid lighten($b, 75%);
		}
		.results-count { margin-bottom: .3rem; font-weight: bold; }
		ul {
			// max-height: 0;
			// height: 0;
			overflow: hidden;
			transition: .3s all ease-in-out;
			// &.open { max-height: 100vh; height: auto; }
		}
	}
}






// move to Edit

.add-contact   {
	margin-bottom: 1.5rem;
	padding: .9rem 0 1.5rem 1.5rem;
	border: 3px double #999;
	border-width: 3px 0;
}
.add-contact h3   { margin-bottom: .9rem; }

.checkboxes label,
.checkboxes input	{ display: inline-block; }
.checkboxes input	{ margin-right: .9rem; }


/* from project-detail.vue */
/*
	this is NG; we need ~ li.project in projects.vue
	& something in project-detail.vue to wrap a sibling of .contacts-wrapper
*/
.project {
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	/*margin-bottom: .9rem;*/
	padding: .9rem .9rem .9rem 0;
	border-bottom: 3px double #ccc;
}

.project p { width: 100%; }

.project .btns { margin-top: .3rem; }


ul.contacts { list-style-position: inside;/*?*/ padding-left: 1.5rem; }
.contacts li { margin-bottom: 1.5rem; }

.preview .contacts li   { padding-left: .9rem; }

.done { border: 1px solid red !important; }

.strongest	{ font-weight: bold; color: #000; }
.stronger	{ font-weight: bold; color: #666; font-style: italic; }

/* from project-add.vue */

ul.contacts   { list-style-position: inside; margin-top: .9rem; }
.preview .contacts li   { padding: 0 0 .9rem .9rem; margin-bottom: .9rem; border-bottom: 1px dotted #ccc; }

h5 {
	display: inline-flex;
	align-items: center;
	font-weight: bold;
	font-size: .9rem;
}
.done { border: 1px solid red !important; }




/* only projects.vue */
ol.projects   {
	list-style-position: inside;
	/*max-width: 33rem;*/
	margin: 0 auto 1.5rem;
}




/**/
