$default-color: #0000ff;
$primary-color: #00ff00;

.mx-input:hover,
.mx-input:focus { border: 1px solid $theme1; }

input[type="text"].mx-input,
input[type="text"].mx-input::placeholder {
	font-size: 1.05rem;
	font-weight: bold;
	color: $theme1 !important;
}

.cell { color: $b; }


.mx-btn-current-month,
.mx-btn-current-year,
.mx-btn:hover {
	text-transform: uppercase;
	color: $theme1;
	font-weight: bold;
}


.not-current-month div { color: lighten($b, 60%); }


.mx-calendar-content .cell {
	border: 1px solid transparent;
}
.mx-calendar-content .cell:hover {
	color: $b;
	background: $w;
	border: 1px solid $theme1;
	border-radius: 51%;
}


.mx-calendar-content .cell.active {
	background: $theme1;
	font-weight: bold;
	border-radius: 51%;
}
.mx-calendar-content .cell.active:hover { color: $w; }


.mx-calendar-content [data-month].cell,
.mx-calendar-content [data-year].cell {
	border-radius: 0;
}
.mx-calendar-content [data-month].cell:hover,
.mx-calendar-content [data-year].cell:hover {
	border: 1px solid $theme1;
}
.mx-calendar-content [data-month].cell.active,
.mx-calendar-content [data-year].cell.active {}


.mx-table-date .today { color: $theme1; font-weight: bold; }























//
